@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .buttons-play {
    @apply rounded-full bg-white/[0.07] p-3 text-xs flex mr-2 backdrop-blur-sm
  }
}

* {
  /* overflow-x: hidden; */
  font-family: 'Quicksand', sans-serif;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scroll bar in chrome  */
*::-webkit-scrollbar {
  display: none;
}

.player{
  overflow-x: visible !important;
}

.color-gradient{
  background: linear-gradient(179.89deg, rgba(0, 0, 0, 0) 0.1%, rgba(15, 18, 19, 0.85) 80.67%);
}

.collection-container:hover > img {
  transform: scale(1.2);
}
.likes{
  display: none;
}

.collection-container:hover .likes {
  display: block;
}